@font-face {
  font-family: "Impact";
  src: url("../fonts/Impact/Impact.eot");
  src: local("Impact"),
    url("../fonts/Impact/Impact.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Impact/Impact.woff") format("woff"),
    url("../fonts/Impact/Impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
