.colorWrapper {
  position: relative;
}

.colorPickerWrapper {
  position: absolute;
  top: 0;
  left: -15px;
  transform: translate(-100%, -40%);
}

.color {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.colorField {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 3px;
}

.colorPicker {
  width: 40px;
  flex: 1 0 40px;
  cursor: pointer;
  border: 1px solid #dadada;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.colorLabel {
  flex: 1 1 100%;
  min-width: 100px;
  display: flex;
  align-items: center;
  border: 1px solid #dadada;

  & > input {
    font-size: 16px;
    color: #4f4f4f;
    padding: 8px 10px;
    border: none;
    height: 100%;
    width: 100%;
  }
}
.colorOpacity {
  flex: 1 1 100%;
  min-width: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 5px 8px;

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  & > span {
    font-size: 16px;
    color: #4f4f4f;
  }
}
