.saveTemplate {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  background-color: #3dc4fe;
  padding: 8px 30px;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 16px;

  & > div {
    width: 25px;
    height: 25px;
  }
}

.memeInput {
  border-radius: 20px;
  padding-left: 15px;
}

.exportWrap {
  width: 80%;
  margin: 50px auto 0 auto;
}

.downloadBtn {
  margin: 200px auto 50px auto;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #3d5afe;
  padding: 12px 40px;
  border-radius: 40px;

  & > span {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }
  & > img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }
}

.modal {
  border-radius: 20px;
}
