.errorWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorContent {
  text-align: center;
}

.errorContent {
  & > h1 {
    margin-bottom: 20px;
  }
}
