.section {
  padding: 15px 10px;
  border-bottom: 1px solid #ececec;
}

.sectionTitle {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
