.modalTitle {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}

.modalContent {
  overflow-y: auto;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  z-index: 10;

  & > img {
    width: 16px;
    height: auto;
  }
}
