.buttonsSwitch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonsSwitchItem {
  width: 36px;
  height: 36px;
  border: 0.5px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: background-color 0.2s;
  cursor: pointer;

  .active {
    background-color: #e3e0e0;
  }

  & > img {
    width: 16px;
    height: auto;
  }

  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:hover {
    background-color: #f8f8f8;
  }
}

.activeItem {
  background-color: #e8e5e5;
}
